
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
  }


  body{
  background: url("./images/background.jpeg") center / cover no-repeat;
  min-height: 100vh;
  }


  section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
  }

 

.container {
    width: 350px;
    padding: 40px 30px;
    background: rgba(148, 10, 10, 0.448);
    border-radius: 10px;
}

.login-form h1 {
    color: rgb(59, 38, 38);
    margin-bottom: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 35px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    outline: none;
    color: white;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #ddd;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -12px;
    font-size: 13px;
    color: lightblue;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: lightblue;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: white;
}

p {
    color: white;
    margin-top: 20px;
    text-align: center;
}

p a {
    color: lightblue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}